<div
  infinite-scroll
  [infiniteScrollDistance]="0"
  [infiniteScrollThrottle]="1000"
  [infiniteScrollDisabled]="!scrollable"
  (scrolled)="onScroll()"
  class="container tui-container tui-container_adaptive"
>
  <div
    style="
      display: flex;
      flex-direction: row;
      padding: 0px 20px;
      margin: 20px 0px;
      align-items: center;
    "
  >
    <div style="flex: 1">Photos</div>
    <div (click)="seeAll()" *ngIf="!scrollable">See all</div>
  </div>
  <div class="tui-row tui-row_adaptive">
    <div class="tui-col_4" *ngFor="let item of photos; let i = index">
      <img [src]="item.photoString" />
    </div>
  </div>
</div>
<div style="height: 20px"></div>
