<div class="tui-container tui-container_adaptive">
  <form [formGroup]="registerForm">
    <div class="tui-row tui-row_sme">
      <div class="tui-col_xs-12 tui-col_md-12 tui-col_lg-8">
        <div class="tui-form__row tui-form__row_multi-fields">
          <div class="tui-form__multi-field">
            <label tuiLabel="First Name*">
              <tui-input tuiTextfieldExampleText="Field placeholder" formControlName="firstNameValue" tuiTextfieldSize="m">
                Enter your first name
              </tui-input>
            </label>
            <tui-error formControlName="firstNameValue" [error]="[] | tuiFieldError | async"></tui-error>
          </div>

          <div class="tui-form__multi-field">
            <label tuiLabel="Last Name*">
              <tui-input tuiTextfieldExampleText="Field placeholder" formControlName="lastNameValue" tuiTextfieldSize="m">
                Enter your last name
              </tui-input>
            </label>
            <tui-error formControlName="lastNameValue" [error]="[] | tuiFieldError | async"></tui-error>
          </div>
        </div>

        <div class="tui-form__row">
          <label tuiLabel="User Name*">
            <tui-input formControlName="userNameValue" tuiTextfieldSize="m">Enter your user name</tui-input>
          </label>
          <tui-error formControlName="userNameValue" [error]="[] | tuiFieldError | async"></tui-error>
        </div>

        <div class="tui-form__row">
          <label tuiLabel="Password*">
            <tui-input-password formControlName="passwordValue" tuiTextfieldSize="m"
              >Enter password with at least 1 uppercase and 1 number
            </tui-input-password>
          </label>
          <tui-error formControlName="passwordValue" [error]="[] | tuiFieldError | async"></tui-error>
        </div>

        <div class="tui-form__row">
          <label tuiLabel="Email*">
            <tui-input formControlName="emailValue" tuiTextfieldSize="m"
              >abc@gmail.com
              <input tuiTextfield type="email" />
            </tui-input>
          </label>
          <tui-error formControlName="emailValue" [error]="[] | tuiFieldError | async"></tui-error>
        </div>

        <div class="tui-form__row">
          <label tuiLabel="Phone Number">
            <tui-input-phone-international
              formControlName="phoneValue"
              tuiTextfieldSize="m"
              [countries]="countries"
              [(countryIsoCode)]="countryIsoCode"
            >
              Enter your phone number
            </tui-input-phone-international>
          </label>
        </div>

        <div tuiGroup class="tui-form__row" [adaptive]="true" [collapsed]="true">
          <label tuiLabel="Gender"></label>
          <tui-radio-labeled formControlName="genderValue" [item]="gender[0]"> Male </tui-radio-labeled>
          <tui-radio-labeled formControlName="genderValue" [item]="gender[1]"> Female </tui-radio-labeled>
        </div>

        <div class="tui-form__field-checkbox">
          <tui-checkbox-labeled formControlName="conditionValue" size="m" class="tui-space_top-3">
            I agree with <a href="#" tuiLink mode="positive"> terms and conditions </a>
          </tui-checkbox-labeled>
          <div class="tui-space_top-1">
            <span class="note">Note: (<span>*</span>) is the required field</span>
          </div>
        </div>

        <div class="tui-form__buttons tui-form__buttons_align_center">
          <button tuiButton size="m" type="submit" class="tui-form__button">Submit</button>
        </div>

        <div class="tui-form__row center">
          <p>Already have account? <a href="#" tuiLink mode="positive">Login</a></p>
        </div>
      </div>
    </div>
  </form>
</div>
