<div class="tui-container_adaptive personal-page-container">
  <app-personal
    [userId]="userId"
    [userNotFound]="userNotFound"
    [userInfo]="userInfo"
    [personalPosts]="personalPosts"
    [isLoading]="isLoading"
    [uploadedAvatar]="avatar"
    (onScroll)="handleOnScroll()"
    (onUploadPhotoClick)="showDialog($event)"
    (onLike)="handleToggleLikePost($event)"
    (onPhotoUpload)="handlePhotoUploaded($event)"
    (handlePostSucceeded)="handleAfterPosting()"
    (handleDeletePost)="handleAfterPosting()"
  ></app-personal>
</div>
