<tui-island>
  <a tuiAction (click)="onShowPostDialog()" class="no-shadow tui-space_horizontal-4">What do you think?</a>
  <tui-island class="tui-space_horizontal-8" size="s">
    <div class="tui-container tui-container_fullwidth">
      <div class="tui-row tui-row_align_center add-file__frame">
        <app-add-file (handleOpenPostDialog)="onShowPostDialog()" (handleImagesUploaded)="onShowPostDialog()"></app-add-file>
        <button tuiButton type="submit" size="s" [disabled]="true" class="confirm_button">Post</button>
      </div>
    </div>
  </tui-island>
</tui-island>

<ng-template let-postDialog [(tuiDialog)]="isDialogOpened" [tuiDialogOptions]="{ dismissible: false }">
  <app-header-dialog (closeDialog)="onCloseDialog()"></app-header-dialog>
  <app-body-dialog (handlePostSucceeded)="handleAfterPosting()" (handleOpenDialog)="onShowPostDialog()"></app-body-dialog>
</ng-template>
