@import "../../../../node_modules/@taiga-ui/core/styles/mixins/mixins.scss";

.post-container {
  border-radius: 10px;
  overflow: hidden;
  @include shadow(1);
  .post-status {
    --line-to-show: 2;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-to-show); /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .see-more {
    font-size: var(--tui-font-text-l);
    font-weight: 700;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
  }
  .post-img {
    width: 100%;
    aspect-ratio: 2;
  }

  .post-numbers {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--tui-base-06);
    border-bottom: 1px solid var(--tui-base-03);
  }
  .btn-actions {
    padding: 0.5rem;
    display: flex;
    align-items: center;

    .btn-action {
      flex-basis: 33%;
      display: flex;
      align-items: center;
      justify-content: center;

      border-right: 1px solid var(--tui-base-03);
      cursor: pointer;

      p {
        margin-left: 1rem;
        font-size: var(--tui-font-text-l);
        font-weight: 600;
      }
    }
  }
}
