<form [formGroup]="postForm" (ngSubmit)="onPostSummited()">
  <app-user-info></app-user-info>

  <tui-text-area
    formControlName="postStatusValue"
    [tuiAutoFocus]="true"
    [expandable]="true"
    class="status-container no-shadow"
  ></tui-text-area>

  <tui-island class="tui-space_vertical-4" size="s">
    <div class="tui-container tui-container_fullwidth">
      <div class="tui-row tui-row_align_center add-file__frame">
        <app-add-file></app-add-file>
        <button tuiButton type="submit" size="m" [disabled]="!(postForm.valid && postForm.dirty)" class="tui-form__button">Post</button>
      </div>
    </div>
  </tui-island>
  <tui-error
    formControlName="postStatusValue"
    [error]="[] | tuiFieldError | async"
  ></tui-error>
</form>
