<div
  class="navigation-bar_container tui-container_fullwidth"
  style="background-color: red"
>
  <div class="tui-row">
    <div class="tui-col_1">
      <img
        style="width: 100%; height: 100%; object-fit: contain"
        src="assets/images/Logo_Transparent.png"
      />
    </div>
    <div class="tui-col_8">
      <div class="tui-row tui-row_align_center" style="background-color: blue">
        <tui-svg src="tuiIconSearchLarge" class="search-icon"></tui-svg>
        <input type="text" placeholder="Search" />
      </div>
    </div>
    <div class="menu-container tui-col_2">
      <div class="tui-row" style="background-color: white">
        <div class="tui-col_3">
          <div class="tui-row tui-row_align_center">
            <tui-svg src="assets/images/home-icon.svg"></tui-svg>
          </div>
        </div>
        <div class="tui-col_3">
          <div class="tui-row tui-row_align_center">
            <tui-svg src="assets/images/message-icon.svg"></tui-svg>
          </div>
        </div>
        <div class="tui-col_3">
          <div class="tui-row tui-row_align_center">
            <tui-svg src="assets/images/bell-icon.svg"></tui-svg>
          </div>
        </div>
        <div class="tui-col_3">
          <div class="tui-row tui-row_align_center">
            <tui-svg src="assets/images/profile-icon.svg"></tui-svg>
          </div>
        </div>
        <div class="tui-col_1">
          <div class="tui-row tui-row_align_center">
            <tui-svg
              src="../../../assets/images/dropdown-icon.svg"
              class="dropdown-icon"
            ></tui-svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
