@import '~@taiga-ui/core/styles/mixins/mixins.scss';

$primary-color: #379cf3;

.navigation-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: var(--tui-base-01);
  top: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  padding: 10px 20px 10px 20px;
  @include shadow(1);
}

.navigation-bar-left {
  flex: 1;
  height: 100%;
  display: flex;
}
.logo-container {
  width: 100px;
  position: relative;
  .logo {
    position: absolute;
    top: 0;
    transform: translateY(-25%);
    width: 100%;
    aspect-ratio: 1;
    cursor: pointer;
  }
}

.search-box-container {
  display: flex;
  height: 100%;
  width: 500px;
  align-items: center;
  padding: 10px;
  margin-left: 20px;

  border-radius: 20px;
  background-color: var(--tui-base-03);
  tui-svg {
    margin-right: 10px;
    margin-left: 10px;
  }
  input {
    flex: 1;
    border: none;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
}

@mixin menu-btn($bg) {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: $bg;
  cursor: pointer;
}

.navigation-bar-right {
  display: flex;
  align-items: center;
  width: 15%;
  min-width: 200px;
  margin-right: 10px;
  justify-content: end;
}

.menu-btn {
  @include menu-btn(var(--tui-base-03));
  margin-left: 15px;
  flex-shrink: 0;
  &:hover {
    background-color: var(--tui-base-04);
  }
  &.active {
    background-color: $primary-color;
    margin-left: 15px;

    tui-svg {
      color: var(--tui-base-01);
    }
  }
}

.profile-btn-active {
  @include menu-btn($primary-color);
  tui-svg {
    color: var(--tui-base-01);
  }
  margin-left: 15px;
}

::ng-deep tui-dropdown {
  margin-top: 5px;
}

.buttons {
  justify-content: space-evenly;
}
