<div class="navigation-bar-container">
  <div class="navigation-bar-left">
    <a href="" class="logo-container">
      <img class="logo" src="assets/svg/nav-logo.svg" />
    </a>
    <tui-hosted-dropdown [content]="dropdownSearch" [(open)]="isDropDownSearchVisible">
      <div class="search-box-container">
        <tui-svg src="tuiIconSearchLarge" class="search-icon"></tui-svg>
        <input
          class="tui-text_body-m-2"
          type="text"
          placeholder="Search on Honest"
          (keyup)="onSearch($event)"
          (click)="onToggleDropdownSearch()"
          #searchInput
        />
      </div>
    </tui-hosted-dropdown>

    <ng-template #dropdownSearch class="dropdown-search">
      <tui-data-list emptyContent="Try searching for friends">
        <a *ngFor="let user of searchUsers; index as i" tuiOption [href]="'profile/' + user.id">
          <div style="display: flex; flex-direction: row; align-items: center; width: 250px">
            <img [src]="user.avatar" alt="" style="width: 50px; height: 50px; border-radius: 50%; margin-right: 15px" />
            <div>
              <p class="tui-text_body-m username">{{ user.firstName + ' ' + user.lastName }}</p>
              <p class="tui-text_body-s relationship">{{ user.relationship | relationship }}</p>
            </div>
          </div>
        </a>
      </tui-data-list>
      <tui-loader *ngIf="isLoadingSearch" style="margin-bottom: 20px"></tui-loader>
    </ng-template>
  </div>
  <div class="navigation-bar-right">
    <div class="menu-btn" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <tui-svg src="assets/svg/home-icon.svg"></tui-svg>
    </div>
    <div class="menu-btn" routerLink="message" routerLinkActive="active">
      <tui-svg src="assets/svg/message-icon.svg"></tui-svg>
    </div>
    <div class="menu-btn" routerLink="notification" routerLinkActive="active">
      <tui-svg src="assets/svg/bell-icon.svg"></tui-svg>
    </div>

    <tui-hosted-dropdown [content]="dropdownProfile" [(open)]="isDropDownProfileVisible">
      <div [class]="isOnProfilePage == true ? 'profile-btn-active' : 'menu-btn'">
        <tui-svg src="assets/svg/profile-icon.svg"></tui-svg>
      </div>
    </tui-hosted-dropdown>

    <ng-template #dropdownProfile>
      <tui-data-list>
        <a *ngFor="let item of profileItems; index as i" tuiOption (click)="toggleDropDown(i)" [routerLink]="item.link">
          {{ item.label }}
        </a>
      </tui-data-list>
    </ng-template>
  </div>
</div>

<ng-template let-observer [tuiDialogOptions]="{ label: 'Confirm log out', size: 's' }" [(tuiDialog)]="isDialogOpened">
  <p class="tui-text_body-m tui-space_vertical-4">Do you want to log out?</p>
  <div class="tui-form__buttons buttons">
    <button tuiButton size="m" (click)="logout()">Log out</button>
    <button tuiButton size="m" (click)="observer.complete()" appearance="outline">Cancel</button>
  </div>
</ng-template>
