<div class="container">
  <div class="avatar-container" [routerLink]="'/profile/' + user.id">
    <tui-avatar [avatarUrl]="user.avatar" [rounded]="true"></tui-avatar>
  </div>
  <div class="info-container" [routerLink]="'/profile/' + user.id">
    <p class="tui-text_body-m" class="profile-name">{{ user.firstName }} {{ user.lastName }}</p>
    <p class="tui-text_body-s" class="username">{{ user.userName }}</p>
  </div>
  <button
    tuiButton
    size="s"
    [appearance]="user.relationship > 1 ? 'primary' : 'secondary'"
    class="btn"
    (click)="handleOnButtonPress(user, user.relationship)"
  >
    {{ user.relationship | buttonRelationship }}
  </button>
</div>
