.message-container {
  border: 1px solid var(--tui-base-03);
  margin: calc(var(--nav-bar-height) + 40px) 145px 0 145px;
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.message-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--tui-base-03);
  & > div {
    padding: 10px 20px;
  }
  &-left {
    flex: 1;
    text-align: center;
    font-weight: 700;
  }
  &-right {
    flex: 2;
    display: flex;
    align-items: center;
    border-left: 1px solid var(--tui-base-03);

    & > p {
      margin-left: 10px;
      font-weight: 700;
    }
  }
}

.message-body {
  display: flex;
  flex: 1;
  &-left {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
  }
  &-right {
    display: flex;
    flex-direction: column;
    flex: 2;
    border-left: 1px solid var(--tui-base-03);
    padding-left: 40px;
    padding-bottom: 10px;

    .messages-container {
      --input-height: 80px;
      --header-height: 68px;
      padding: 20px 10px 0 0;
      margin-left: -20px;
      height: calc(85vh - (var(--input-height) + var(--header-height)));
      overflow-y: auto;
    }
  }
}
