<div class="message-container">
  <div class="message-header">
    <div class="message-header-left">
      <p>Direct</p>
    </div>
    <div class="message-header-right">
      <tui-avatar
        avatarUrl="https://w7.pngwing.com/pngs/340/946/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes.png"
        [rounded]="true"
      >
      </tui-avatar>
      <p>Hoang Nguyen</p>
    </div>
  </div>
  <div class="message-body">
    <div class="message-body-left">
      <app-message-contact></app-message-contact>
      <app-message-contact></app-message-contact>
      <app-message-contact></app-message-contact>
    </div>
    <div class="message-body-right">
      <div class="messages-container">
        <app-user-message [type]="0"> </app-user-message>
        <app-user-message [type]="1"> </app-user-message>
        <app-user-message [type]="0"> </app-user-message>
        <app-user-message [type]="0"> </app-user-message>
        <app-user-message [type]="1"> </app-user-message>
        <app-user-message [type]="1"> </app-user-message>
        <app-user-message [type]="1"> </app-user-message>
        <app-user-message [type]="0"> </app-user-message>
        <app-user-message [type]="0"> </app-user-message>
        <app-user-message [type]="1"> </app-user-message>
        <app-user-message [type]="1"> </app-user-message>
        <app-user-message [type]="1"> </app-user-message>
        <app-user-message [type]="0"> </app-user-message>
        <app-user-message [type]="0"> </app-user-message>
        <app-user-message [type]="1"> </app-user-message>
        <app-user-message [type]="1"> </app-user-message>
      </div>
      <app-message-input></app-message-input>
    </div>
  </div>
</div>
