.brand-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  .title-container {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .logo {
    margin-top: calc(2.5rem + 30px);
    width: max(40%, 15rem);
    align-self: center;
    img {
      width: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
}
