@import "../../../../../node_modules/@taiga-ui/core/styles/mixins/mixins.scss";

.personal-page-container {
  width: 940px;
}
.cover-image {
  height: 300px;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }

  .btn-add-cover {
    position: absolute;
    right: 20px;
    bottom: 20px;
    ::ng-deep span {
      color: var(--tui-base-09);
    }
  }
}

.user-avatar-container {
  margin-left: 60px;
  margin-top: -60px;
  margin-bottom: 20px;
  position: relative;
  .btn-upload-avatar {
    position: absolute;
    bottom: 0;
    right: 10px;
    cursor: pointer;
  }
}

.btn-edit {
  display: block;
  margin-left: auto;
  margin-right: 35px;
  ::ng-deep span {
    color: var(--tui-base-09);
  }
}

.user-bio-container {
  border: 1px solid var(--tui-base-03);
  border-bottom-left-radius: 10px;
  padding: 1.5rem;
}

.posts-container {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
